* {
    margin: 0;

    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.font-12px {
    font-size: 12px;
}

.container {
    height: auto;
    width: 100vw;
}

.container .resume {
    min-height: 900px;
    height: 900px;
    min-width: 750px;
    width: 750px;
    padding: 20px 0 0 0;
    /* border: 1px solid blue; */
    box-shadow: 0px 0px 86px rgb(195 195 195);
    margin: 100px auto;
    display: grid;
    background-color: purple;
    grid-template-columns: 0.5fr 1fr;
}

.container .resume .section-1,
.section-2 {
    height: 100%;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.section-2 {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
}

.candidate-photo {
    /* border: 1px solid red; */
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.candidate-photo img {
    /* border: 1px solid red; */
    border-radius: 100px;
    width: 100%;
    box-shadow: 0px 2px 10px #ff888873;
}

.info {
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
    /* border: 1px solid greenyellow; */
    padding: 10px;
    font-size: 13px;
}

.info>svg {
    width: 14px;
    fill: white;
}

.box {
    /* padding: 5px; */
    /* border: 1px solid white; */
    height: 65%;
}

.box>div>h3 {
    background-color: white;
    color: purple;
    font-weight: bolder;
    margin: 15px auto;
    width: 90%;
    padding: 4px 10px;
}

.box>div>ul>li {
    font-size: 12px;
    padding: 4px;
}

.education {
    display: flex;
    justify-content: space-between;
}

.box>div:nth-child(2)>div {
    padding: 10px 15px;
}

.box p {
    margin: 5px 0;
}

.triangle {
    width: 0;
    position: absolute;
    height: 0;
    border-width: 0 500px 105px 0;
    border-color: transparent purple transparent transparent;
    border-style: solid;
    bottom: -104px;
    left: 0;
    right: 0;
}

.section-2 .box-2 .sections {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.section-2 .box-2 .sections svg {
    width: 25px;
    display: inline;
}

.exp-duration {
    color: purple;
}

.exp-duration>h5 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.exp-duration>h6 {
    margin: 10px 0;
    color: #ca00ca;
}

.exp-highlights {
    font-size: 12px;
    line-height: 20px;
}

.name-container {
    position: relative;
    padding: 15px;
    text-align: center;
    background-color: purple;
    color: white;
}

.name-container h1{
    font-size: 40px;
    margin-bottom: 5px;
}

@media screen and (max-width:600px) {
    .container .resume {
        width: 100%;
        min-width: 100%;
        min-height: auto;
        height: auto;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        margin: 0;
        padding: 20px 0 0 0;
    }

    .resume .section-1 {
        padding: 20px;
    }

    .resume .section-2 {
        padding: 10px;
    }

    .candidate-info {
        width: 100%;
    }

    .box {
        width: 100%;
    }

    .box>div>h3 {
        width: 100%;
    }

    .name-container {
        position: absolute;
        top: 49px;
        right: 10px;
    }

    .name-container>h1 {
        font-size: 28px;
    }
    .name-container>h4{
        font-size: 15px;
    }

    .triangle {
        display: none;
    }

    .candidate-photo>img {
        width: 65%;

    }


}
@media screen and (max-width:400px) {
    .name-container>h1 {
        font-size: 23px;
    }
    .name-container>h4{
        font-size: 13px;
    }
    

}